pre{
    font-size: 30px;
    color: #808080;
    word-spacing: 6px;
    letter-spacing: 4px;
    line-height: 60px;

}
ins+span{
    text-decoration: overline;
}
.easy {
    font-weight: 900;
}
ins del{
text-shadow: 2px 2px 4px orange;
}
ins .easy del{
    font-size: 35px;
}
.power{
    color: rgba(199, 26, 63, 0.3);
}
.invisible{
    opacity: 0;
}
.appearance:hover{
    opacity: 1;
    color: black;
}