* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
}

#form {
    margin-bottom: 15px;
}

#table {
    margin-bottom: 30px;
    width: 100%;
    border-spacing: 0px 1px;
}

input {
    width: 100%;
    height: 25px;
    border: 0;
    border-bottom: 1px solid #732a85;
    box-shadow: 0 0 15px 4px rgba(82, 5, 113, 0.08);

}

td {
    border: 1px solid#fff;
    text-align: center;
    height: 35px;
    font-size: 25px;
}

th {
    background: linear-gradient(229.99deg, #5e5f62 -26%, #8494af 145%);
    color: aliceblue;
    border: 1px solid#fff;
    text-align: center;
    width: 300px;
    height: 50px;
}

tr {
    background: linear-gradient(221.87deg, #85b3b3 1%, #c4adc2 128%);
    color: aliceblue;
}

.btn-3 {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #171818 0%, #7f417f 74%);
    line-height: 42px;
    padding: 0;
    border: none;
    width: 110px;
    margin-bottom: 2px;
    font-size: 15px;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;

}

.btn-3:hover {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #767561 0%, #8e1ed3 74%);
}

.btn-4 {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #85d8d4 0%, #8f6e8f 74%);
    line-height: 42px;
    padding: 0;
    border: none;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 35px;
    font-size: 15px;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;

}

.btn-4:hover {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #d4cb50 0%, #984993 74%);
}

.result {
    font-size: 25px;
}

.editInput {
    width: 130px;
}

.error-text {
    color: red;
    font-size: 14px;
    right: 125px;
}

.input_fields {
    display: flex;
}

span {
    position: relative;
    top: 30px;
    width: 100%;
}