table{
    border-spacing: 0px;
    border-collapse: collapse;
    border: 2px solid rgb(179, 203, 255);
    width: 1000px;
}
td{
    width: 25%;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 20px;
    border: 2px solid rgb(179, 203, 255);
}
th{
    width: 250px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border: 2px solid rgb(179, 203, 255);
    background-color: rgb(184, 184, 255);
}
tr:nth-child(n) td:nth-child(3){
    width: 50%;
}
tr:nth-child(n) td:nth-child(2n){
    width: 10%;
}