table{
    border-spacing: 0px;
    border-collapse: collapse;
    border: 5px solid #000;
}
td {
    width: 200px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    border: 5px solid #000;
    background: rgb(128, 14, 14);
    color: #fff;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.top{
    vertical-align: top;
}
.middle{
    vertical-align: middle;
}
.bottom{
    vertical-align: bottom;
}